$fg_color: #ffffff;

window {
  background-color: transparent;
  font-family: "JetBrainsMono Nerd Font", monospace;
  margin: 10px 10px 0px 10px;
  font-size: 12pt;
}

.vpn-uni-icon {
  color: $fg_color;
}
